@charset "utf-8";
/* CSS Document */

html {
  background-color: #eee;
}

body,
td,
th,
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.5;
}

body {
  background-color: #fdfdfd;
  margin: 0;
  position: relative;
}

ul,
li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: #333;
}

a {
  color: orange;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #3397db;
  text-decoration: none;
}

a img {
  border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

#maincontent {
  background-color: #eee;
  min-height: 100%;
}

#footer {
  background-color: #252831;
  color: #aaa;
  font-size: 1em;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */

nav {
  width: 100%;
  background-color: #252831;
  text-align: center;
}

nav h1 {
  margin: 0;
  padding: 5px;
  height: 100%;
}

nav h1 a {
  color: #fff;
  font-size: 0.5em;
  font-weight: 200;
  letter-spacing: 5px;
  text-transform: uppercase;
}

#breadcrumb {
  padding: 5px 15px;
  list-style: none;
  background-color: #eee;
  font-size: 1em;
  margin: 0;
  width: calc(100% - 30px);
  text-align: center;
}

/* Display list items side by side */

#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */

#breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */

#breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */

#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* ====================== Map ====================== */

#map-container {
  height: 60vh;
  /*width: 100vw;*/
}

#map {
  height: 100%;
  width: 100%;
  background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */

.filter-options {
  width: 220px;
  background-color: #3397DB;
  align-items: center;
  right: 0;
  bottom: 0;
  height: 180px;
  position: fixed;
  transition: all .225s;
  z-index: 1;
  display: block;
}

.filter-options.closed {
  right: -220px;
  display: none;
}

.filter-options.closed:focus {
  right: 0;
}

.filter-options h2 {
  color: white;
  font-size: 1em;
  font-weight: normal;
  line-height: 1;
  margin: 15px;
  width: calc(50% - 35px);
  display: inline-block;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial, sans-serif;
  font-size: 1em;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

#filter-button {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #3397db;
  box-shadow: 2px 2px 4px 0;
}

#filter-button svg {
  margin: 5px;
}

#filter-close {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #333;
  font-size: 16px;
  background: #fff;
  padding: 5px 10px 5px 10px;
  border: solid #333 1px;
  text-decoration: none;
  float: right;
  margin: 15px;
}

#filter-close :hover {
  background: #ddd;
  text-decoration: none;
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list {
  background-color: #eee;
  list-style: outside none none;
  margin: 0 auto;
  padding: 15px 0;
  text-align: center;
  width: calc(90% - 30px);
}

#restaurants-list li {
  background-color: #fff;
  box-shadow: 2px 2px 4px 0;
  font-family: Arial, sans-serif;
  margin: 15px 0;
  padding: 15px;
  width: calc(100% - 30px);
}

#restaurants-list .restaurant-img {
  background-color: transparent;
  display: block;
  margin: auto;
  max-width: 100%;
}

#restaurants-list li h2 {
  color: #f18200;
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  font-weight: 100;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
  font-size: 1em;
}

#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 1em;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */

.inside #map-container {
  height: 40vh;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

#restaurant-name {
  color: #f18200;
  font-family: Arial, sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
  margin: 15px 0;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
  max-width: 100%;
  width: 90%;
}

#restaurant-address {
  font-size: 1em;
  margin: 10px 0px;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 5px;
  margin: 0 auto;
  width: 90%;
}

#restaurant-container,
#reviews-container {
  text-align: center;
}

#reviews-container {
  background-color: #eee;
  list-style: outside none none;
  padding: 15px 0;
  width: 100%;
}

#reviews-container h2 {
  color: #f58500;
  font-size: 2em;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

#reviews-list {
  background-color: #eee;
  list-style: outside none none;
  margin: 0;
  padding: 15px 0;
  text-align: left;
  width: 100%;
}

#reviews-list li {
  background-color: #fff;
  box-shadow: 2px 2px 4px 0;
  font-family: Arial, sans-serif;
  margin: 0 5% 30px;
  padding: 15px;
  width: calc(90% - 30px);
}

#reviews-list li p {
  margin: 0 0 10px;
}

.review-rating svg {
  vertical-align: text-bottom;
  width: 24px;
  height: 24px;
}

#restaurant-hours {
  width: 90%;
  margin: auto;
  border-collapse: collapse;
}

.no-hours {
  opacity: .7;
}

#restaurant-hours td {
  color: #666;
  font-size: 1em;
}

#restaurant-hours tr:nth-child(even) {
  background-color: #ddd;
}

td.open-time-day,
td.open-time-hours {
  text-align: left;
}

/* small device */

@media screen and (min-width: 768px) {
  #restaurants-list li {
    margin: 15px 15px;
    padding: 15px;
    width: calc(50% - 60px);
    display: inline-block;
    vertical-align: top;
  }
  .restaurant-info {
    min-height: 120px;
  }
  #restaurant-info-container {
    width: calc(50% - 30px);
    display: inline-block;
    margin: 0 15px 0px 0;
  }
  #restaurant-hours-container {
    width: calc(50% - 30px);
    display: inline-block;
    margin: 15px 0px 0 15px;
    vertical-align: top;
    margin-top: 47px;
  }
  .no-hours {
    margin-top: 40%;
  }
  section#reviews-container {
    border-bottom: none;
    border-top: none;
    margin-top: 0px;
  }
  #reviews-list {
    margin: 0 5%;
    padding: 15px 0;
    width: auto;
  }
  #reviews-list li {
    margin: 15px;
    padding: 15px;
    width: calc(50% - (60px));
    display: inline-block;
    vertical-align: top;
  }
}

/* medium device */

@media screen and (min-width: 1200px) {
  .inside #map-container {
    width: 60%;
    height: 75vh;
  }
  #map-container {
    height: 75vh;
    width: 100%;
    display: inline-block;
  }
  #restaurant-container {
    text-align: center;
    display: inline-block;
    width: 39%;
    vertical-align: top;
    height: 75vh;
  }
  #restaurant-hours {
    overflow: scroll;
  }
  #restaurant-info-container {
    width: 75%;
    margin: 0 auto;
  }
  #restaurant-hours-container {
    width: 100%;
    margin-top: 15px;
  }
  #reviews-list li,
  #restaurants-list li {
    width: calc(33% - (60px));
  }
  #breadcrumb {
    text-align: left;
  }
}

/* large device */

/* extra large device */

@media screen and (min-width: 1440px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    z-index: 1;
  }
  .inside header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 1;
  }
  #maincontent {
    background-color: #eee;
    min-height: 100%;
    margin-top: 46px;
    margin-bottom: 74px;
  }
  .inside #maincontent {
    background-color: #eee;
    min-height: 100%;
    margin-top: 80px;
    margin-bottom: 74px;
  }
  #map-container {
    width: 40%;
    height: calc(100vh - (46px + 74px));
    position: fixed;
  }
  .inside #map-container {
    width: 40%;
    height: calc(100vh - (80px + 74px));
    position: fixed;
  }
  #restaurants-list-container {
    margin-left: 41%;
  }
  #restaurant-container {
    text-align: center;
    display: inline-block;
    width: 59%;
    vertical-align: top;
    height: auto;
    overflow: scroll;
    margin-left: 41%;
  }
  #restaurant-info-container {
    width: 60%;
    margin: 0 auto;
  }
  #restaurant-hours-container {
    width: 38%;
    margin: 47px 0px 0 0px;
  }
  #reviews-container {
    background-color: #eee;
    list-style: outside none none;
    padding: 15px 0;
    width: 59%;
    display: inline-block;
    margin-left: 41%;
    position: relative;
  }
  #reviews-list li,
  #restaurants-list li {
    width: calc(50% - (60px));
  }
  #filter-button {
    bottom: 89px;
  }
  .filter-options {
    bottom: 74px;
  }
  #footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 24px;
  }
}